*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@mixin cont(){
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin btn($pad){
    padding: $pad;
    background-color: #35AFBF;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
@mixin ops{
    color: #707273;
    font-size: 16px
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
        .osncont{
        position: absolute;
        width: 100%;
        @include cont();
        padding: 25px;
        nav{
            display: flex;
            justify-content: space-between;
            gap: 25px;
            p{
                @include ops;
                color: #969999;
            }
        }
        button{
            @include btn(10px 25px);
        }
    }
}
.section1{
    padding: 125px 25px;
    background-image: url(img/section1/Background.png);
    background-size: cover;
    .sect1cont{
        @include cont();
        aside{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 25px;
            h1{
                font-size: 50px;
            }
            p{
                @include ops;
                font-size: 21px;
            }
            button{
                @include btn(15px 35px)
            }
            span{
                color: #32A3B2;
            }
        }
    }
}
.section2{
    @include cont();
    flex-direction: column;
    gap: 25px;
    padding: 100px 25px;
    h2{
        font-size: 38px;
    }
    p{
        @include ops();
        text-align: center;
        width: 50%;
    }
    div{
        display: flex;
        gap: 5px;
        justify-content: center;
        margin-top: 25px;
        div{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 40px 20px;
            p{
                width: 80%;
            }
        }
        div:first-child{
            background-color: #a3e0e8a8;
            background-image: url(img/section2/Patten.png);
            border-radius: 10px;
            background-size: cover;
        }
    }
}
.section3{
    @include cont();
    padding: 50px 25px;
    gap: 390px;
    aside{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        h2{
            font-size: 38px;
        }
        p{
            @include ops();
        }
        button{
            @include btn(15px 35px);
            background-color: #35afbf00;
            border: 1px solid #35afbfba;
            color: #35AFBF;
        }   
    }
}
.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    background-image: url(img/section4/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 20px;
    h2{
        font-size: 38px;
    }
    p{
        width: 47%;
        text-align: center;
    }
    img{
        margin-top: 25px;
    }
}