* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .osncont {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
header .osncont nav {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
header .osncont nav p {
  color: #707273;
  font-size: 16px;
  color: #969999;
}
header .osncont button {
  padding: 10px 25px;
  background-color: #35AFBF;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.section1 {
  padding: 125px 25px;
  background-image: url(img/section1/Background.png);
  background-size: cover;
}
.section1 .sect1cont {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .sect1cont aside {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}
.section1 .sect1cont aside h1 {
  font-size: 50px;
}
.section1 .sect1cont aside p {
  color: #707273;
  font-size: 16px;
  font-size: 21px;
}
.section1 .sect1cont aside button {
  padding: 15px 35px;
  background-color: #35AFBF;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.section1 .sect1cont aside span {
  color: #32A3B2;
}

.section2 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 100px 25px;
}
.section2 h2 {
  font-size: 38px;
}
.section2 p {
  color: #707273;
  font-size: 16px;
  text-align: center;
  width: 50%;
}
.section2 div {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 25px;
}
.section2 div div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 40px 20px;
}
.section2 div div p {
  width: 80%;
}
.section2 div div:first-child {
  background-color: rgba(163, 224, 232, 0.6588235294);
  background-image: url(img/section2/Patten.png);
  border-radius: 10px;
  background-size: cover;
}

.section3 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 25px;
  gap: 390px;
}
.section3 aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.section3 aside h2 {
  font-size: 38px;
}
.section3 aside p {
  color: #707273;
  font-size: 16px;
}
.section3 aside button {
  padding: 15px 35px;
  background-color: #35AFBF;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(53, 175, 191, 0);
  border: 1px solid rgba(53, 175, 191, 0.7294117647);
  color: #35AFBF;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
  background-image: url(img/section4/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 20px;
}
.section4 h2 {
  font-size: 38px;
}
.section4 p {
  width: 47%;
  text-align: center;
}
.section4 img {
  margin-top: 25px;
}

.section5 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 100px 20px;
}
.section5 h2 {
  font-size: 38px;
}
.section5 p {
  color: #707273;
  font-size: 16px;
  width: 60%;
  text-align: center;
}
.section5 .infocont {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.section5 .infocont div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px;
  border-bottom: 1px solid rgba(41, 179, 197, 0.831372549);
  width: 25%;
}
.section5 .infocont div h4 {
  font-size: 21px;
}
.section5 .infocont div p {
  width: 100%;
}

.section6 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding: 100px 20px;
  background-color: rgba(209, 244, 249, 0.5647058824);
  background-image: url(img/section6/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section6 h2 {
  font-size: 32px;
  text-align: center;
  width: 950px;
  font-weight: 600;
  color: #4B4C4C;
}
.section6 div {
  display: flex;
  gap: 25px;
  align-items: center;
}
.section6 div div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}
.section6 div div h4 {
  font-size: 21px;
  font-weight: 600;
  color: #4B4C4C;
}
.section6 div div p {
  color: #707273;
  font-size: 16px;
  font-size: 12px;
}

.section7 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px;
  gap: 25px;
}
.section7 h2 {
  font-size: 38px;
  width: 70%;
  text-align: center;
}
.section7 button {
  padding: 15px 25px;
  background-color: #35AFBF;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

footer {
  background-color: #2C353E;
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
  padding-bottom: 50px;
  gap: 50px;
}
footer .fcont1 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 170px;
}
footer .fcont1 div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  align-items: start;
}
footer .fcont1 div h2 {
  font-size: 21px;
}
footer .fcont1 div h3 {
  font-size: 38px;
  font-weight: 400;
  display: flex;
  gap: 5px;
}
footer .fcont1 div h3 span {
  font-size: 16px;
}
footer .fcont1 div h3 .month {
  align-self: flex-end;
}
footer .fcont1 div p {
  color: #707273;
  font-size: 16px;
  color: #b9b9b9;
}
footer .fcont1 div button {
  padding: 15px 35px;
  background-color: #35AFBF;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.3019607843);
}
footer .fcont2 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
  padding: 50px 20px;
  padding-bottom: 0;
  border-top: 1px solid #4B4B4B;
}
footer .fcont2 div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}
footer .fcont2 div div:first-child {
  display: flex;
  flex-direction: row;
}
footer .fcont2 div div:last-child p {
  font-size: 12px;
  color: #b9b9b9;
}
footer .fcont2 .iconbox {
  flex-direction: row;
}
footer .fcont2 .iconbox i {
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */